<h1><%= "All our Flats (#{@flats.length})" %></h1>
<% @flats.each do |flat| %>
  <div class="flat">
    <h4><%= flat.name %></h4>
    <p><%= flat.address %></p>
    <div class="flex-box">
      <p><i class="material-icons">person</i><%= "#{flat.number_of_guests}" %></p>
      <p><i class="material-icons">attach_money</i> <%= "#{flat.price_per_night}" %></p>
    </div>
    <p><%= link_to "More info", flat_path(flat) %></p>
  </div>
<% end %>
